<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxxzt.recruitment.business.mapper.EnterpriseMapper">
    <resultMap id="BaseResultMap" type="com.hxxzt.recruitment.business.entity.Enterprise">
        <!--@mbg.generated-->
        <!--@Table enterprise-->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="leader_name" jdbcType="VARCHAR" property="leaderName"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="usc_code" jdbcType="VARCHAR" property="uscCode"/>
        <result column="business_license" jdbcType="VARCHAR" property="businessLicense"/>
        <result column="review_status" jdbcType="BOOLEAN" property="reviewStatus"/>
        <result column="review_people" jdbcType="VARCHAR" property="reviewPeople"/>
        <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="is_publish" jdbcType="BOOLEAN" property="isPublish"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, leader_name, id_card, usc_code, business_license, review_status, review_people, review_time,
    user_id, username, is_publish, create_time, deleted
  </sql>
</mapper>