<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxxzt.recruitment.business.mapper.ResumeSendMapper">

    <resultMap id="BaseResultMap" type="com.hxxzt.recruitment.business.entity.ResumeSend">
        <!--@mbg.generated-->
        <!--@Table resume_send-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="info_id" jdbcType="INTEGER" property="infoId"/>
        <result column="is_check" jdbcType="BOOLEAN" property="isCheck"/>
        <result column="check_time" jdbcType="TIMESTAMP" property="checkTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="interview_status" jdbcType="INTEGER" property="interviewStatus"/>
        <result column="interview_time" jdbcType="TIMESTAMP" property="interviewTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="ResumeSendMapAndResumeMap" type="com.hxxzt.recruitment.business.entity.ResumeSend">
        <!--@mbg.generated-->
        <!--@Table resume_send-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="info_id" jdbcType="INTEGER" property="infoId"/>
        <result column="is_check" jdbcType="BOOLEAN" property="isCheck"/>
        <result column="check_time" jdbcType="TIMESTAMP" property="checkTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="interview_status" jdbcType="INTEGER" property="interviewStatus"/>
        <result column="interview_time" jdbcType="TIMESTAMP" property="interviewTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <association property="resume" javaType="com.hxxzt.recruitment.business.entity.Resume">
            <result column="title" jdbcType="VARCHAR" property="title"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="age" jdbcType="INTEGER" property="age"/>
            <result column="gender" jdbcType="VARCHAR" property="gender"/>
            <result column="birthday" jdbcType="DATE" property="birthday"/>
            <result column="working_hours" jdbcType="DATE" property="workingHours"/>
            <result column="now_address" jdbcType="VARCHAR" property="nowAddress"/>
            <result column="domicile_address" jdbcType="VARCHAR" property="domicileAddress"/>
            <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
            <result column="email" jdbcType="VARCHAR" property="email"/>
            <result column="job_intention" jdbcType="VARCHAR" property="jobIntention"/>
            <result column="education" jdbcType="VARCHAR" property="education"/>
            <result column="school_of_graduation" jdbcType="VARCHAR" property="schoolOfGraduation"/>
            <result column="major" jdbcType="VARCHAR" property="major"/>
            <result column="work_experience" jdbcType="LONGVARCHAR" property="workExperience"/>
            <result column="project_experience" jdbcType="LONGVARCHAR" property="projectExperience"/>
            <result column="self_appraisal" jdbcType="LONGVARCHAR" property="selfAppraisal"/>
            <result column="refresh_time" jdbcType="TIMESTAMP" property="refreshTime"/>
            <result column="is_hide" jdbcType="BOOLEAN" property="isHide"/>
            <result column="is_default" jdbcType="BOOLEAN" property="isDefault"/>
            <result column="wx_user_id" jdbcType="INTEGER" property="wxUserId"/>
            <result column="wx_nickname" jdbcType="VARCHAR" property="wxNickname"/>
            <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
        </association>
    </resultMap>

    <resultMap id="ResumeSendMapAndResumeAndInfoMap" type="com.hxxzt.recruitment.business.entity.ResumeSend">
        <!--@mbg.generated-->
        <!--@Table resume_send-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="info_id" jdbcType="INTEGER" property="infoId"/>
        <result column="is_check" jdbcType="BOOLEAN" property="isCheck"/>
        <result column="check_time" jdbcType="TIMESTAMP" property="checkTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="interview_status" jdbcType="INTEGER" property="interviewStatus"/>
        <result column="interview_time" jdbcType="TIMESTAMP" property="interviewTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <association property="recruitmentInfo" javaType="com.hxxzt.recruitment.business.entity.RecruitmentInfo">
            <result column="ent_name" jdbcType="VARCHAR" property="entName"/>
            <result column="position" jdbcType="LONGVARCHAR" property="position"/>
            <result column="job_requirements" jdbcType="LONGVARCHAR" property="jobRequirements"/>
            <result column="linkman" jdbcType="VARCHAR" property="linkman"/>
            <result column="linkman_email" jdbcType="VARCHAR" property="linkmanEmail"/>
            <result column="ent_info" jdbcType="LONGVARCHAR" property="entInfo"/>
            <result column="ent_address" jdbcType="VARCHAR" property="entAddress"/>
            <result column="salary" jdbcType="VARCHAR" property="salary"/>
            <result column="is_negotiable" jdbcType="BOOLEAN" property="isNegotiable"/>
            <result column="school" jdbcType="VARCHAR" property="school"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, resume_id, info_id, is_check, check_time, `status`, interview_status,interview_time, createTime
    </sql>
    <sql id="Base_Column_List_Resume_R">
        <!--@mbg.generated-->
        r.title, r.`name`, r.age, r.gender, r.birthday, r.working_hours, r.now_address, r.domicile_address,
        r.mobile, r.email, r.job_intention, r.education, r.school_of_graduation, r.major, r.work_experience,
        r.project_experience, r.self_appraisal, r.refresh_time, r.is_hide, r.is_default, r.wx_user_id, r.wx_nickname,
        r.deleted
    </sql>
    <sql id="Base_Column_List_Resume_RI">
        <!--@mbg.generated-->
        ri.ent_name, ri.`position`, ri.job_requirements, ri.linkman, ri.linkman_email, ri.ent_info, ri.ent_address,
        ri.salary, ri.is_negotiable, ri.school
    </sql>
    <select id="selectByEnterprise" resultMap="ResumeSendMapAndResumeMap">
        select
        <include refid="Base_Column_List_Resume_R"/>,
        rs.id, rs.is_check, rs.check_time, rs.status, rs.create_time, rs.interview_status, rs.interview_time
        from resume_send rs
        left join resume r on rs.resume_id = r.id
        left join recruitment_info ri on rs.info_id = ri.id
        <where>
            <if test="userId != null">
                and ri.user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="name != null and name != ''">
                and r.`name` like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="major != null and major != ''">
                and r.`major` like CONCAT('%',#{major,jdbcType=VARCHAR},'%')
            </if>
            <if test="request.beginTime != null and request.beginTime != '' and request.endTime != null and request.endTime != ''">
                and rs.create_time between #{request.beginTime,jdbcType=VARCHAR} and #{request.endTime,jdbcType=VARCHAR}
            </if>
        </where>
        order by rs.is_check,rs.create_time desc,r.create_time desc
    </select>
    <select id="select" resultMap="ResumeSendMapAndResumeMap">
        select
        <include refid="Base_Column_List_Resume_R"/>,
        rs.id, rs.is_check, rs.check_time, rs.status, rs.create_time, rs.interview_status, rs.interview_time
        from resume_send rs
        left join resume r on rs.resume_id = r.id
        left join recruitment_info ri on rs.info_id = ri.id
        <where>
            <if test="name != null and name != ''">
                and r.`name` like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="major != null and major != ''">
                and r.`major` like CONCAT('%',#{major,jdbcType=VARCHAR},'%')
            </if>
            <if test="request.beginTime != null and request.beginTime != '' and request.endTime != null and request.endTime != ''">
                and rs.create_time between #{request.beginTime,jdbcType=VARCHAR} and #{request.endTime,jdbcType=VARCHAR}
            </if>
        </where>
        order by rs.is_check,rs.create_time desc,r.create_time desc
    </select>
    <select id="queryList" resultMap="ResumeSendMapAndResumeAndInfoMap">
        select
        <include refid="Base_Column_List_Resume_RI"/>,
        rs.id, rs.is_check, rs.check_time, rs.status, rs.create_time, rs.interview_status, rs.interview_time
        from resume_send rs
        left join resume r on rs.resume_id = r.id
        left join recruitment_info ri on rs.info_id = ri.id
        <where>
            <if test="wxUserId != null ">
                and r.wx_user_id = #{wxUserId,jdbcType=INTEGER}
            </if>
        </where>
        order by rs.is_check,rs.create_time desc,r.create_time desc
    </select>

    <select id="queryListByIsCheck" resultMap="ResumeSendMapAndResumeAndInfoMap">
        select
        <include refid="Base_Column_List_Resume_RI"/>,
        rs.id, rs.is_check, rs.check_time, rs.status, rs.create_time, rs.interview_status, rs.interview_time
        from resume_send rs
        left join resume r on rs.resume_id = r.id
        left join recruitment_info ri on rs.info_id = ri.id
        <where>
            <if test="wxUserId != null ">
                and r.wx_user_id = #{wxUserId,jdbcType=INTEGER}
            </if>
            <if test="isCheck != null">
                and rs.is_check = #{isCheck,jdbcType=BOOLEAN}
            </if>
        </where>
        order by rs.is_check,rs.create_time desc,r.create_time desc
    </select>
    <select id="queryListByStatus" resultMap="ResumeSendMapAndResumeAndInfoMap">
        select
        <include refid="Base_Column_List_Resume_RI"/>,
        rs.id, rs.is_check, rs.check_time, rs.status, rs.create_time, rs.interview_status, rs.interview_time
        from resume_send rs
        left join resume r on rs.resume_id = r.id
        left join recruitment_info ri on rs.info_id = ri.id
        <where>
            <if test="wxUserId != null ">
                and r.wx_user_id = #{wxUserId,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and rs.status = #{status,jdbcType=INTEGER}
            </if>
        </where>
        order by rs.is_check,rs.create_time desc,r.create_time desc
    </select>
    <select id="isSend" resultMap="BaseResultMap">
        select `id`
        from resume_send
        where resume_id in (
        select resume.id from resume
        where wx_user_id = #{wxUserId,jdbcType=INTEGER} and deleted = false
        ) and info_id = #{infoId,jdbcType=INTEGER}
    </select>
</mapper>
