<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxxzt.recruitment.system.mapper.SysLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.hxxzt.recruitment.system.entity.SysLoginLog">
    <!--@mbg.generated-->
    <!--@Table sys_login_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, username, login_time, address, ip
  </sql>
    <update id="clean">
      truncate table sys_login_log
    </update>

</mapper>