<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxxzt.recruitment.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.hxxzt.recruitment.system.entity.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="ssex" jdbcType="INTEGER" property="ssex"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <resultMap id="UserRoleMap" type="com.hxxzt.recruitment.system.entity.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="ssex" jdbcType="INTEGER" property="ssex"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="roleId" jdbcType="INTEGER" property="roleId"/>
        <result column="roleName" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>

    <resultMap id="UserRole" type="com.hxxzt.recruitment.system.entity.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="ssex" jdbcType="INTEGER" property="ssex"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
<!--        <collection property="roleList" ofType="com.hxxzt.recruitment.system.entity.SysRole">-->
<!--            <result column="roleId" property="roleId" />-->
<!--        </collection>-->
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, username, nick_name, email, mobile, last_login_ip, last_login_time, ssex, description,
        avatar, create_time, modify_time, `status`
    </sql>
    <sql id="Base_Column_List_U">
        <!--@mbg.generated-->
        u.user_id, u.username, u.nick_name, u.email, u.mobile, u.last_login_ip, u.last_login_time, u.ssex, u.description,
        u.avatar, u.create_time, u.modify_time, u.`status`
    </sql>
    <select id="findDetail" resultMap="UserRoleMap">
        SELECT
        <include refid="Base_Column_List_U"/>,
        GROUP_CONCAT(r.role_id) as role_ids,
        GROUP_CONCAT(r.role_name) as role_name
        FROM
        sys_user u
        LEFT JOIN sys_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN sys_role r ON r.role_id = ur.role_id
        WHERE u.username = #{username,jdbcType=VARCHAR}
        group by u.username,
        u.user_id,
        u.password,
        u.email,
        u.mobile,
        u.status,
        u.create_time,
        u.ssex,
        u.avatar,
        u.description,
        u.last_login_time
    </select>
    <select id="queryFuzz" resultMap="UserRoleMap">
        select
        <include refid="Base_Column_List_U"/>,
        GROUP_CONCAT(r.role_id) as roleId,
        GROUP_CONCAT(r.role_name) as roleName
        from sys_user u
        LEFT JOIN sys_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN sys_role r ON r.role_id = ur.role_id
        <where>
            <if test="user.username!=null and user.username!=''">
                and u.username like concat('%',#{user.username,jdbcType=VARCHAR},'%')
            </if>
            <if test="user.mobile!=null and user.mobile!=''">
                and u.monile like concat('%',#{user.mobile,jdbcType=VARCHAR},'%')
            </if>
            <if test="queryRequest.beginTime != null and queryRequest.beginTime != '' and queryRequest.endTime != null and queryRequest.endTime != ''">
                and u.create_time between #{queryRequest.beginTime,jdbcType=VARCHAR} and
                #{queryRequest.endTime,jdbcType=VARCHAR}
            </if>
        </where>
        group by u.user_id
        order by u.create_time desc
    </select>
    <select id="getInfoById" resultMap="UserRoleMap">
        select
        <include refid="Base_Column_List_U"/>,
        GROUP_CONCAT(r.role_id) as roleId,
        GROUP_CONCAT(r.role_name) as roleName
        from sys_user u
        LEFT JOIN sys_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN sys_role r ON r.role_id = ur.role_id
        <where>
            <if test="userId != null">
                and u.user_id = #{userId,jdbcType=INTEGER}
            </if>
        </where>
        group by u.user_id
        order by u.create_time desc
    </select>

    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.hxxzt.recruitment.system.entity.SysUser" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="ssex != null">
                ssex,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginIp != null">
            #{lastLoginIp,jdbcType=VARCHAR},
        </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ssex != null">
                #{ssex,jdbcType=CHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
</mapper>